.imagen {
  width: 200px;
  height: 150px;
  object-fit: contain;
}

.card {
  -webkit-box-shadow: 7px 10px 21px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 7px 10px 21px 1px rgba(0, 0, 0, 1);
  box-shadow: 7px 10px 21px 1px rgba(0, 0, 0, 1);
  border-radius: 20px;

  width: 250px;
  height: 260px;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}

.card a {
  text-decoration: none;
  color: black;
}
